body{
    background-color: rgb(235, 241,242);
}


#header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

#tickethack{
    margin-left: 20px;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartetBook{
    margin-right: 20px;
    height: auto;
    width: 140px; 
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
}
#cart{
    color: black;
    display: flex;
    align-items: center;
    
}
#books{
    color: black;
    display: flex;
    align-items: center;
    
}
#blockinfos{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cartInfos{
    background-color: white;
    width: auto;
    height: auto;
    display: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.cartTrip{
    margin-bottom: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    border: solid black;
    width: 40vw;
    
}
.bottommyCart{
background-color: rgb(0, 0, 77);
width: auto;
height: 30px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.total{
margin-left: 10px;
margin-right: 10px;
background-color: rgb(0, 0, 77);
width: auto;
color: white;
}
.purchase{
    background-color: rgb(179, 255, 179);
    height: 20px;
    width: 70px;
    border-radius: 5px;
    
}
